<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div >
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="projectname" class="mt-5">Project name</label>
              <input
                type="text"
                id="projectname"
                class="form-control"
                formControlName="projectname">
                <span *ngIf="!projectname?.valid && projectname?.touched">
                  <span *ngIf="projectname?.errors?.['nameIsForbidden']">This project name is invalid</span>
                  <span *ngIf="projectname?.errors?.['required']">This project name field is required</span>
                </span>
              </div>
            <div class="form-group mt-2">
              <label for="projectmail">Project email</label>
              <input
                type="text"
                id="projectmail"
                class="form-control mb-2"
                formControlName="projectmail">
                <span *ngIf="!projectmail?.valid && projectmail?.dirty">Please enter a valid project email address!</span>
                <!-- <span class="help-text" *ngIf="!email?.valid && email?.touched">Please enter a valid email address!</span> -->
            </div>
            <div class="form-group">
              <label for="projectstatus" class="mb-1">Select Project status</label>
              <select id="projectstatus" class="form-control" formControlName="projectstatus" [ngModel]="defaultStatus">
                <option value="stable">Stable</option>
                <option value="critical">Critical</option>
                <option value="finished">Finished</option>
              </select>
            </div>
          <div><button class="btn btn-primary mt-3" type="submit">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
